<!DOCTYPE html>
<html lang="{{language}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="/img/logo.ico" type="image/x-icon">
    <title>{{ translations.payment_canceled }}</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    {{> header translations=translations}}
    <div class="sr-root">
      <div class="sr-main">
        <section class="container">
          <h1>{{ translations.payment_canceled }}</h1>
          <p>{{ translations.payment_canceled_message }}</p>
          <a href="/">{{ translations.return_to_upload }}</a>
        </section>
      </div>
    </div>
    {{> footer translations=translations}}
  </body>
</html>
